/* andika-regular - latin_cyrillic */
@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    src: url('./andika-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./andika-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./andika-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./andika-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./andika-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./andika-v12-latin_cyrillic-regular.svg#Andika') format('svg'); /* Legacy iOS */
  }
  