
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    & > * {
      width: 90%;
    }
  }

  .grow-enter-active,
.grow-leave-active {
  transition: transform 0.2s ease-in;
}
.grow-enter,
.grow-leave-to {
  transform: scaleY(0);
}
  
